.input{
    border: solid grey;
    border-radius: 5px;
}

.agregar{
    border: solid green;
    border-radius: 5px;
    background-color: transparent;
    color: green;
}

.div{
    width: 25%;
    margin: 0 auto;
    background-color: #3e4144;
    
}